*.log
.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.bak
*.tmp
*.swp
coverage/
*.class
*.jar
*.war
*.iml
*.exe
*.dll
*.pdb
*.so
*.o
*.out
*.obj
*.lib
*.log
*.log.*
*.pid
*.seed
*.gz
*.zip
*.tar

rubric_.jpg
scoring_rubrics.pdf
scoring_rubrics.docx

docs/
.html*
Final_Project_Dylan.Rmd
Final_Project_Dylan.html
